{% extends 'base.html' %}
{% comment %} {% load static %}

{% block head %}
  <link rel="stylesheet" href="{% static '/filesystem/style.css' %}">
{% endblock %} {% endcomment %}

{% block content %}
<div class='flex vet-out'>
  <div class='w-1/2 h-screen flex content-center items-center justify-center'>
    <img src="/theme/static/css/img/reset.jpg" alt="">
  </div>
  <div class='w-1/2 h-screen  flex justify-center items-center break-words'>
    <div class='flex-col p-8'>
      <div class='flex'>
          <h2 class='text-7xl slate-blue-txt '>Reset Password</h2>
      </div>
      <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button class='slate-blue-c text-white rounded-full px-10 py-1 mt-4' type="submit">Reset password</button>
      </form>
    </div>
  </div>
</div>
{% endblock %}
