@tailwind base;
@tailwind components;
@tailwind utilities;


label{
    font-size: 1rem;
    color: rgb(29 78 216 );
  }

input{
    width:100%;
    border-radius: .75rem;
    padding: 8px 12px;
    border: 1px solid rgb(29 78 216 );
    
  }

  p{
    margin: 1rem 0;
  }

  .errorlist{
    color: rgb(255, 0, 0);
    font-size: small;
  }
