{% extends 'base.html' %}
 {% load static %}
{% comment %}
{% block head %}
  <link rel="stylesheet" href="{% static '/filesystem/style.css' %}">
{% endblock %} {% endcomment %}

{% block content %}
<div class='flex'>
    <div class ='justify-center'>
        <img src="/theme/static/css/img/28998233_5143.jpg" alt="">
    </div>
    <div class='w-1/2 h-screen flex justify-center items-center'>
        <div class='flex-col p-8'>
        <div class='flex'>
            <h2 class='text-7xl slate-blue-txt'>Login </h2>
            <div class='w-6 h-6 slate-blue-c'></div>
        </div>
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button class='slate-blue-c text-white rounded-full px-10 py-1 mt-4' type= 
            'submit'>Log In</button>
            <p>
                <a href="{% url 'account:reset_page' %}">Forget Password</a>
            </p>
            {% if next %}
                <input type="hidden" name="next" value="{{ next }}"/>
            {% endif %}
            <p>Don't have an account? <a class='slate-blue-txt' href="{% url 'account:signup' %}">Sign Up</a></p>
        </form>
        </div>
    </div>
{% endblock %}