{% extends 'base.html' %}
 {% load static %}

{% block content %}
<div class='flex vet-out'>
  <div class='w-1/2 h-screen flex content-center items-center justify-center'>
    <img src="/theme/static/css/img/28998233_5143.jpg" alt="">
  </div>
  <div class='w-1/2 h-screen  flex justify-center items-center break-words'>
    <div class='flex-col p-8'>
      <div class='flex'>
          <h2 class='text-7xl slate-blue-txt '>Signup </h2>
          <div class='w-6 h-6 slate-blue-c'></div>
      </div>
      <form method="POST" action="">
          {% csrf_token %}
          {{ form.as_p }}
          <button class='slate-blue-c text-white rounded-full px-10 py-1 mt-4' type="submit">Sign Up</button>
          <p>Have an account? <a class='slate-blue-txt' href="{% url 'account:login' %}">Log In</a></p>
      </form>
    </div>
  </div>
</div>
{% endblock %}